<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Group Name:</strong>
        <%= @group.name %>
      </p>

      <p>
        <strong>Desription:</strong>
        <%= @group.description %>
      </p>

      <p>
      <strong>Members:</strong>
      <p>
      <% @members.each do |member| %>
      <%= member.user_email %></br>
      <% end %>
      </p>
      </p>

      <%= link_to 'Edit', edit_group_path(@group) %>

      <%= link_to 'Join Group', new_group_member_path(@group) %>

    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
