
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">

      <p id="notice"><%= notice %></p>

      <ul>
        <li>
          <strong>Group Name:</strong>
          <%= @group.name %>
        </li>

        <li>
          <strong>Description:</strong>
          <%= @group.description %>
        </li>

        <li>
          <strong>Memebers:</strong>
          <% @group.users.each do |group_user| %>
            <p><%= group_user.email %></p>
          <% end %>

        </li>
      </ul>


      <%= link_to 'Edit', edit_group_path(@group) %>

      <%= link_to 'Join', join_group_path(@group) %>


    </div>
    <div class="col-lg-4"></div>
  </div>

