<div class="container">
	<%= link_to image_tag(@user.image.url(:large)), @user.image.url %>
	<h1><%= @user.username ? "Username: #{@user.username}" : "Email: #{@user.email}" %></h1>
	<h2><%= @user.username ? "Email: #{@user.email}" : nil %></h2>
	<h3>Postcode: <%= @user.postcode if @user.postcode? %></h3>
	<h3>Average User Rating: <%= @training_session.average_rating.to_i %> / 5 </h3>
</div>
