<div class="row">
 <div class="col-lg-4"></div>
 <div class="col-lg-4">

    <%= form_for(@training_session) do |f| %>
      <% if @training_session.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@training_session.errors.count, "error") %> prohibited this training session from being updated:</h2>

          <ul>
          <% @training_session.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
          <%= f.label :name %>
          <%= f.select :name, ["Running", "Cycling", "Weight Training"] %>
        </div>

        <div class="field">
          <%= f.label :start_time %>
          <%= f.datetime_select :start_time %>
        </div>
        <div class="field">
          <%= f.label :training_completed, "Training Completed?" %>
          <%= f.select :training_completed, ["Not yet bud", "Hells YEAH", "Didn't do it"] %>
        </div>

        <div class="actions">
          <%= f.submit t('.training_session', :default => "Create Training Session"), class: "btn btn-primary"  %>
        </div>
    <% end %>

  </div>
  <div class="col-lg-4"></div>
</div>



<%= link_to 'Show', @training_session %> |
<%= link_to 'Back', training_sessions_path %>
