<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">

      <h4 id="notice"><%= notice %></h4>

      <h1>Your Training Session</h1>

      <h4>
        <strong>Name:</strong>
        <%= @training_session.name %>
      </h4>

      <h4>
        <strong>Start time:</strong>
        <%= @training_session.start_time %>
      </h4>

      <h4>
        <strong>Completed?</strong>
        <%= @training_session.training_completed %>
      </h4>

      <% if @training_session.users.count > 0 %>
        <h6>Currently Attending</h6>
        <ul>
          <% @training_session.users.each do |training_session_user| %>
            <li><%= link_to "#{training_session_user.email}", user_path(training_session_user) %></li>
          <% end %>
        </ul>
      <% end %>

      <p><%= link_to 'Edit', edit_training_session_path(@training_session), class: "btn btn-secondary"  %></p>
      <p><%= link_to "Review Session", new_training_session_review_path(@training_session), class: "btn btn-secondary" %></p>
      <p><%= link_to 'Join Session', join_session_path %> </p>

    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
