<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @training_session.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @training_session.start_time %>
</p>

<p>
  <strong>Completed?</strong>
  <%= @training_session.training_completed %>
</p>

<%= link_to 'Edit', edit_training_session_path(@training_session) %> |
<%= link_to 'Back', training_sessions_path %>
