<!DOCTYPE html>
<html>
  <head>
    <title>BOOM! Training</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div data-turbolinks="false">

        <!--Navigation-->
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a href = "/" class = "navbar-left">
              <img style="max-width:70px; margin-top: -7px;" src = "/assets/oie_transparent_white.png" alt = "Generic placeholder thumbnail">
            </a>


        </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="https://github.com/alexanderwjrussell/boom_training_webapp">About</a></li>


                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Training Sessions <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/training_sessions">All Training Sessions</a></li>
                    <li><a href="/training_sessions/new">Create New Training Session</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/groups">All Groups</a></li>
                    <li><a href="/groups/new">Create New Group</a></li>
                  </ul>
                </li>

                <% if current_user %>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Friends <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href='<%= "#{user_friendships_path(current_user)}" %>'>Your Friends</a></li>
                      <li><a href="/users/:user_id/friendships/new">Add New Friend</a></li>
                    </ul>
                  </li>
                  
                <% end %>
              </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if !current_user %>
              <a class="navbar-text navbar-left"><%= notice %></a>
              <a href="/users/sign_in" class="btn btn-primary navbar-btn" role="button">Sign In</a>
              <a href="/users/sign_up" class="btn btn-default navbar-btn" role="button">Sign Up</a>
              <% else %>
              <p class="navbar-text navbar-left"><%= notice %></p>
              <a><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary navbar-btn" %></a>
              <a href="/requests" class="btn btn-primary navbar-btn" role="button">Requests</a>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->


        </div>
      </nav>

      <div class="container container-fluid">
        <% if current_user %>
          <button id="signed-in-user" type ="button" class="btn btn-default btn-xs pull-right">
            <% if current_user.has_image_file? %>
              <%= link_to image_tag(current_user.image.url(:small), class: "signed_in_image"), current_user.image.url %>
            <% else %>
              <span class = "glyphicon glyphicon-user"></span>
            <% end %>
            <%= current_user.email %>
            <ul class="dropdown-menu">
              <li class="dropdown"><a href='<%= "#{user_path(current_user)}" %>'>View Profile</a></li>
              <li class="dropdown"><a href='<%= "users/password/edit" %>'>Edit Password</a></li>
              <li class="dropdown"><a href='<%= "#{edit_user_registration_path(@user)}" %>'> Edit Profile</a></li>
            </ul>
          </button>
         <% end %>
        <%= alert %>
        <%= yield %>
      </div>

    </div>

    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted"> Designed and developed by Team Boom! </span>
      </div>
    </footer>
  </body>
</html>
